.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    height: 700px;
    border-radius: 15px;
    margin-top: 100px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.bar2 {
    text-align: center;
    width: 400px;
    height: 36px;
    top: 84px;
    background: #C4BAFF;
}

.bar {
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    width: 217px;
    height: 33px;
    margin-left: 80px;
    top: 84px;
    background: #C4BAFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.box {
    margin-top: 30px;
    box-sizing: border-box;
    width: 217px;
    height: 33px;
    margin-left: 80px;
    top: 136px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.select {
    margin-top: 40px;
    box-sizing: border-box;
    width: 11px;
    height: 13px;
    left: 62px;
    top: 238px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.password {
    margin-left: 20px;
    width: 85px;
    height: 15px;
    left: 83px;
    top: 238px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
}

.forgetpassword {
    margin-top: 5px;
    width: 120px;
    height: 15px;
    left: 62px;
    top: 254px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #381CE8;
}

.button1 {
    justify-content: center;
    margin-top: 40px;
    width: 126px;
    height: 33px;
    left: 107px;
    top: 292px;
    background: #C4BAFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: #000000;
}

.forget2 {
    margin-left: 24px;
    margin-top: 30px;
    width: 105px;
    height: 15px;
    left: 115px;
    top: 386px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.forget3 {
    margin-top: 10px;
    margin-left: 37px;
    width: 73px;
    height: 15px;
    left: 131px;
    top: 409px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #381CE8;
}

.contactgoogle {
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-align: center;
    margin-left: 11px;
    margin-top: 80px;
    width: 217px;
    height: 33px;
    left: 59px;
    top: 432px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contactfacebook {
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-align: center;
    margin-left: 11px;
    margin-top: 5px;
    width: 217px;
    height: 33px;
    left: 59px;
    top: 432px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
    margin-top: 390px;
    text-align: center;
    width: 400px;
    height: 36px;
    top: 84px;
    background: #C4BAFF;
}